body {
	padding-bottom: 56px;
}

#footerMain {
	background-color: #343a40;
	color: #fff;
	bottom: 0;
	height: 60px;
	line-height: 56px;
	position: fixed;
	width: 100%;

		a {
			color: #fff;
			text-decoration: none;
		}
}